body {
    margin: 0;
    font-family: Arial;
    background: #0b1020;
    color: white;
    overflow-x: hidden;
}

#bg {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    width: 90%;
    max-width: 1200px;

    margin: auto;

    padding: 40px 20px;

    position: relative;
    z-index: 2;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

#search {
    width: 100%;

    padding: 15px;

    border-radius: 12px;

    border: none;

    margin-bottom: 20px;

    background: rgba(255,255,255,0.08);

    color: white;

    backdrop-filter: blur(8px);

    outline: none;

    box-sizing: border-box;
}

#search::placeholder {
    color: rgba(255,255,255,0.5);
}

.file {
    background: rgba(17,24,39,0.72);

    backdrop-filter: blur(6px);

    padding: 20px;

    border-radius: 18px;

    margin-bottom: 15px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    border: 1px solid rgba(255,255,255,0.05);

    transition: 0.2s;
}

.file:hover {
    transform: translateY(-2px);

    background: rgba(30,41,59,0.9);
}

.download {
    background: #5865F2;

    color: white;

    text-decoration: none;

    padding: 12px 20px;

    border-radius: 12px;

    font-weight: bold;

    transition: 0.2s;
}

.download:hover {
    transform: scale(1.05);
}

.discord-button {
    position: fixed !important;

    bottom: 20px !important;
    right: 20px !important;

    left: auto !important;
    top: auto !important;

    background: #5865F2;

    color: white;

    padding: 12px 18px;

    border-radius: 12px;

    text-decoration: none;

    font-weight: bold;

    z-index: 999999;

    box-shadow: 0 0 15px rgba(88,101,242,0.5);

    transition: 0.2s;
}

.discord-button:hover {
    transform: scale(1.05);
}

#credits {
    position: fixed !important;

    bottom: 23px !important;
    right: 150px !important;

    left: auto !important;
    top: auto !important;

    color: rgba(255,255,255,0.6);

    font-size: 14px;

    z-index: 999999;

    white-space: nowrap;
}

#pagination {
    display: flex;

    justify-content: center;

    align-items: center;

    gap: 20px;

    margin-top: 30px;

    margin-bottom: 50px;
}

#pagination button {
    background: #5865F2;

    border: none;

    color: white;

    padding: 10px 20px;

    border-radius: 10px;

    cursor: pointer;

    font-weight: bold;

    transition: 0.2s;
}

#pagination button:hover {
    transform: scale(1.05);
}